/* General Styles */
/* body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f5;
    color: #333;
} */

h2 {
    font-size: 24px;
    color: #04e8fd;
    text-align: center;
}

.audio-player-area {
    text-align: center;
    max-width: 900px;
    width: 100%;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(190, 144, 144, 0.1);
    background-color: #ffffff;
    border-radius: 15px;
    margin: auto;
}

/* Audio Player Styles */
.audio-player {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    gap: 10px;
    flex-wrap: wrap;
}

.control-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.control-button:hover {
    background-color: #45a049;
}

.song-selector select {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
    cursor: pointer;
}

/* Responsive */
@media (max-width: 500px) {
    .audio-player {
        flex-direction: column;
        gap: 15px;
    }

    .control-button,
    .song-selector select {
        width: 100%;
    }
}
